<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>index</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
		<script th:src="@{/js/user1.js}"></script>
		<script th:src="@{/js/member.js}"></script>
	</head>
	<body>
		<h3>Ch09.스프링 REST 웹서비스 실습</h3>
		
		<h4>user1</h4>
		<button class="user1 list1">user1 목록1</button>
		<button class="user1 list2">user1 목록2</button>
		<button class="user1 register">user1 등록</button>
		<button class="user1 modify">user1 수정</button>
		<button class="user1 delete">user1 삭제</button>
		
		
		<h4>member</h4>
		<button class="member list1">member 목록1</button>
		<button class="member list2">member 목록2</button>
		<button class="member register">member 등록</button>
		<button class="member modify">member 수정</button>
		<button class="member delete">member 삭제</button>
		
		
		
		
		
		
	</body>
</html>