<html xmlns:th="http://www.thymeleaf.org">
<div id="sub">
    <div><img th:src="@{/img/sub_top_tit4.png}" alt="CROP TALK"></div>
    <section class="cate4">
        <aside>
            <img th:src="@{/img/sub_aside_cate4_tit.png}" alt="이벤트"/>

            <ul class="lnb">
                <li th:classappend="${cate}=='event'?'on'"><a th:href="@{/board/list(group=_event, cate=event)}">이벤트</a></li>
            </ul>

        </aside>
        <article>
            <nav>
                <img th:src="@{/img/sub_nav_tit_cate4_{value}.png(value=${cate})}" alt="이벤트"/>
                <p>
                    HOME > 이벤트 >
                    <em th:if="${cate}=='event'">이벤트</em>
                </p>
            </nav>

            <!-- 내용 시작 -->
